h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
.glyphicon {
	font-size: 30px;
	cursor: pointer;
}

.glyphicon.upvote {
	color: green
}

.glyphicon.downvote {
	color: red
}
.results {
  text-align: center;
}

.gif-box {
  text-align: center;
  padding: 10px;
}

.gif-box img {
  display: block;
}

.voting-box, .image-box {
  display: block;
  padding-top: 10px
}

.image-box img {
  display: inline-block;
}

.voting-box span {
  display: inline-block;
  padding: 10px;
}


